## Reference: https://github.com/helm/chart-releaser-action
## https://helm.sh/docs/howto/chart_releaser_action/#github-actions-workflow

name: release
on:
  # allows one workflow to be called or triggered by another workflow
  workflow_call:

  # allows the workflow to be triggered manually
  workflow_dispatch:

  # allows the workflow to be triggered via an HTTP POST request
  repository_dispatch: # https://github.com/atrakic/fastapi-htmx-postgresql/blob/main/.github/workflows/release.yml#L67

  push:
    branches:
      - main
    paths:
      - '**'
      - '!**.md'
jobs:
  release:
    permissions:
      contents: write  # for helm/chart-releaser-action to push chart release and create a release
      packages: write  # to push OCI chart package to GitHub Registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          config: "./.github/configs/cr.yaml"
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Confirm helm repo listings
        run: |
          helm repo add "${{ github.repository_owner }}" "https://${{ github.repository_owner }}.github.io/helm-charts/"
          helm repo update
          helm search repo "${{ github.repository_owner }}"

      - name: Deploy summary
        run: |
          echo "### https://${{ github.repository_owner }}.github.io/helm-charts/ :rocket:" >> $GITHUB_STEP_SUMMARY

        # Disabled
      - name: Notify Slack
        uses: 8398a7/action-slack@v3
        if: false #if: always() # Pick up events even if the job fails or is canceled.
        with:
          status: ${{ job.status }}
          fields: repo,author,action,eventName,ref,workflow
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
